<h1>{{user.FirstName}} {{user.LastName}}</h1>
<p>
    UserName: {{user.UserName}}<br>
    Posts: {{user.Posts}}<br>
</p>


<a href="/users/logout">Log out</a>

router.post('/about', function (req, res) {
  res.send('About this wiki');
})

exports.author_update_post = function(req, res) {
    res.send('NOT IMPLEMENTED: Author update POST');
};